@model ModernDynamicData.Abstractions.DataProviders.DataModelDescriptor

<html>
<head>
    <title>DataModel</title>
</head>
<body>
    <h1>Data Model détail</h1>
    <h2>@Model.DataModelName</h2>
</body>
</html>