@using ModernDynamicData
@using ModernDynamicData.ViewModels.DataModel
@model DetailViewModel

<h1>@Model.DataModel.DataModelName</h1>
<h2>Table list</h2>
<table class="table table-hover">
    <tbody>
    @foreach (var table in Model.DataModel.Tables)
    {
        <tr>
            <td>
                @table.Name
            </td>
        </tr>
    }
    </tbody>
</table>
