@using System.Threading.Tasks
@using ModernDynamicData
@using ModernDynamicData.ViewModels.DataModel
@model ListViewModel
<h1>Data Model liste</h1>
<ul>
    @foreach (var dataModel in Model.DataModels)
    {
        <li>
            @Html.RouteLink(dataModel.DataModelName, Constants.Routes.ContextDetail, new {dataModel = dataModel.DataModelName})
        </li>
    }
</ul>